.navbar-brand {
    margin:auto; 
}

.main-city-name-date {
    font-size: 45px;
    float: left;
}

.main-icon {
    height: 75px;
}

.main-display {
    font-size: 20px;
}

.main-UV-Index {
    /* 0-2: Low */
    background-color: green;
    /* 3-5: Moderate */
    background-color: yellow;
    /* 6-7: High */
    background-color: orange;
    /* 8-10: Very high */
    background-color: rgb(255, 0, 0); 
    /* 11 or more: Extreme */
    background-color: purple;
    /* padding: 5px;
    margin: auto; */
}