.navbar-brand {
    margin:auto; 
}

.main-city-name-date {
    font-size: 45px;
    float: left;
}

.main-icon {
    height: 75px;
}

.main-display {
    font-size: 20px;
}

.main-UV-Index {
    margin: 20px;
}

.five-day-forcast-body {
    font-size: 12px;
}
.forcast-container {
    margin:auto;
    padding: 10px;
    background-color: rgb(9, 149, 230);
    font-weight: bold;
    border-radius: 25px;
    color: white;
}

.cities-search-form {
    background-color: rgb(238, 232, 232);
}